@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Lusitana&family=Nunito:wght@300;400&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 0;
  font-family: "Nunito", sans-serif;
  color: #ce6b6b;
}
/* Estilo do Topo */
.logo {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: white;
}
.cabecalho {
  background: #ce6b6b;
  display: flex;
  padding: 30px;
  /* z-index: 1; */
}
h2 {
  color: white;
  font-family: "Libre Caslon Text", serif;
  font-size: 20px;
  font-weight: 400;
}
a {
  padding: 10px;
  color: #fff;
  font-family: "Lusitana", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.login {
  background: white;
  font-weight: 500;
  font-size: 18px;
  padding: 3px 8px;
  border-radius: 14px;
  border: none;
}
/* Estilo do Body */
.body {
  display: grid;
  justify-content: start;
  grid-template-columns: 700px;
  grid-template-rows: 300px;
  padding: 150px;
}
.coracao {
  width: 100%;
}
main {
  font-size: 100%;
  background: white;
}

.titulo2 {
  position: absolute;
  width: 424px;
  height: 266px;
  left: 546px;
  top: 236px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
}

.button {
  color: #fff;
  background: #000;
  font-size: 48px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3px 8px 3px 15px;
  border-radius: 14px;
  border: 3px solid #6b2020;
  width: 315px;
  height: 80px;
}

p {
  font-family: "Lusitana";
  font-size: 40px;
}
/* Estilo do Footer */
/* Pseudo Classes */
.button:hover {
  background: #ce6b6b;
  border: none;
}
/* teste para push */
